language: node_js
node_js:
- "8"
- "10"
script:
- npm run test -- --coverage
- npm run build
after_script:
- cat ./coverage/lcov.info | ./node_modules/.bin/coveralls
cache:
  directories:
  - node_modules
